@import "http://fonts.fontstorage.com/import/museosanscyrl.css";

@font-face {
	font-family: "Natasha";
	src: url(../fonts/Natasha.ttf) format("truetype");
}

html {
	font-size: 15px;
}

body {
	font-family: 'Museo Sans Cyrl', Arial, sans-serif;
	color: #272921;
}

/*---------First Section-------------*/

h1 {
	font-family: "Natasha", Arial, sans-serif;
	padding-top: 25%;
	text-align: center;
	font-size: 3.333rem;
	letter-spacing: 6px;
	text-transform: uppercase;
}

h1 span {
	font-family: Arial, sans-serif;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 1.5rem;


}

header {
	background: url(../img/bg.jpg) no-repeat center top;
	background-size: cover;
	color: #fff;
	max-height: 900px;
	background-color: #252a22;
}

nav {
	padding-top: 50px;
}

.menu {
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.menu__item {
	text-transform: uppercase;
	font-weight: 900;
	color: #fff;
	text-decoration: none;
}

.menu__item:hover {
	text-decoration: none;
	text-shadow: 0px 0px 5px #fff;
}

.info {
	padding: 0;
	margin: 0;
	float: right;
	font-size: 0.867rem;
	font-weight: 100;
	letter-spacing: .7px;
	padding-bottom: 1px;
	border-bottom: 1px solid #6e706c;
}

.arrow {
	padding-top: 20%;
	padding-bottom: 7%;
	text-align: center;
	margin: 0 auto;
}



/*---------Second Section-------------*/

#about {
	max-height: 750px;
}

h2 {
	font-family: "Natasha", Arial, sans-serif;
	font-size: 2.467rem;
	padding-top: 6%;
	padding-bottom: 5%;
}

h3 {
	font-size: 22px;
	font-family: "Natasha", Arial, sans-serif;
	color: #71726d;
	padding-bottom: 5%;
}

.background__text {
	line-height: 25px;
	letter-spacing: .2px;
	font-weight: 300;
	color: #3f413b;
	padding-right: 40px;
}

.goods__container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.goods__items {
	background: url(../img/romb.png) no-repeat center top;
	width: 103px;
}
.goods__items_number {
	font-size: 1.333rem;
	color: #354e20;
	text-align: center;
	line-height: 100px;
	text-align: center;
}

.goods__items_text {
	text-transform: uppercase;
	text-align: center;
	font-size: 0.8rem;
	font-weight: bold;
	color: #44463f;
	padding-top: 5px;
}

.connection h3 {
	padding-top: 5%;
}

.links__item {
	color: #354e20;
	letter-spacing: 1.2px;
	line-height: 30px;
	font-size: 0.933rem;
	border-bottom: 1px solid #c4ccbe;
	padding-bottom: 3px;
}

.links__item:hover {
	text-decoration: none;
	color: #71726d;
}

.connection__wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}

.connection {
	margin: 0 auto;
}

.icon {
	padding-left: 40px;
	padding-top: 20px;
}

.icon__text {
	display: inline;
	font-size: 14px;
	font-style: italic;
	font-size: 0.933rem;
	letter-spacing: .2px;
	line-height: 100%;
}

.icon__item {
	padding-right: 10px;
}

/*-----------------Third Section-----------------------*/


.skills__item {
	background: url(../img/circle.png) no-repeat left top;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.skills__number {
	line-height: 61px;
	font-size: 0.867rem;
	letter-spacing: 1.2px;
	color: #354e20;
	padding-left: 3px;
}

.skills__number3 {
	padding-left: 0;
}

.skills__number4 {
	padding-left: 7px;
}

.skills__name {
	line-height: 61px;
	padding-left: 40px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-weight: 900;
	color: #3f4039;

}

.skills__name3 {
	padding-left: 33px;
}
.skills__name4 {
	padding-left: 45px;
}

/*-------------------Forth Section and Footer-----------------*/

.work__item {
	width: 300px;
	height: 300px;
}

#works h2 {
	padding-bottom: 0;
}

.hover__text {
	opacity: 0;
	position: absolute;
	top: 13.3%;
	left: 13.2%;
	width: 280px;
	line-height: 249px;
	text-align: center;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #fff;
}

.hover__text:hover {
	transition: 0.3s ease;
	opacity: 1;
	cursor: pointer;
	background: rgba(0,0,0,0.5);
}
.work {
	height: 300px;
	width: 300px;
	padding: 10px;
	padding-top: 40px;
}

.footer__text {
	font-size: 0.733em;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	color: #71726d;
	padding-left: 10px;
	padding: 125px 0;
}


/*-------------Media queries-----------------*/

@media screen and (max-width: 1200px) {
	.menu__wrapper {
		display: none;
	}
	.hover__text {
		display: none;
	}

	
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 14px;
	}

	.menu__wrapper {
		display: none;
	}
	
	.info {
		float: right;
	}
	
	h2 {
		text-align: center;
	}

	h3 {
		text-align: center;
	}

	.goods h3 {
		padding-top: 5%;
	}

	.background__text {
		padding: 0;
	}

	.connection__wrapper {
		justify-content: space-around;	
	}

	#skills {
		margin-top: 0px;
	}

	.skills__item {
		background: url(../img/circle.png) no-repeat center top;
		margin: 0 auto;
		display: inline-block;
	}

	.skills__name {
		padding: 0;
	}

	.footer__text {
		text-align: center;
	}
}

@media screen and (max-width: 995px) {
	#skills {
		margin-top: 200px;
	}

}


@media screen and (max-width: 580px) {
	
	.logo__link {
		text-align: center;
	}
	html {
		font-size: 13px;
	}

	h1 {
		padding-top: 30%;
		letter-spacing: 3px;
		line-height: 60px;
	}

	h1 span {
		letter-spacing: 1px;
		font-size: 1.5rem;
	}

	.arrow {
		padding-top: 25%;
		padding-bottom: 10%;
	}
	.info {
		display: none;
	}

	.connection__wrapper {
		flex-direction: column;
		text-align: center;
	}

	.links__item {
		font-size: 1rem;
		text-align: center;
	}

	.icon {
		padding-top: 40px;
		margin-left: -50px;
	}

	#skills {
		margin-top: 300px;
	}
	
}


@media screen and (max-width: 380px) {
	#skills {
		margin-top: 350px;
	}
}
@media screen and (max-width: 350px) {
	#skills {
		margin-top: 700px;
	}

}

@media screen and (max-width: 280px) {
	#skills {
		margin-top: 800px;
	}
}

@media screen and (max-width: 350px) {
	html {
		font-size: 12px;
	}

	h1 {
		padding-top: 15%;
	}

	.arrow {
		padding-top: 10%;
	}

	.logo {
		text-align: center;
	}

	.goods__container {
		flex-direction: column;
	}

	.goods__items {
		margin: 0 auto;
	}

	.goods__items_text {
		font-size: 1.1rem;
	}

	h2 {
		padding-top: 10%;
		padding-bottom: 10%;
	}
}