@media screen and (max-width: 1800px) {
  .languages {
    left: 0; }
  .main_copyright {
    right: -100px; } }

@media screen and (max-width: 1700px) {
  .c-container {
    width: 1300px; }
  .tab_content {
    margin-left: 300px; }
  body.cabinet header {
    padding: 25px 0; }
  body.cabinet .header__mail {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 50px; }
  body.cabinet .header__phone {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .tab__item_header {
    margin-bottom: 50px; }
  .tab__item_form {
    padding-top: 0px; }
  .delete {
    margin-top: 165px; }
  .cabinet__menu {
    height: 350px;
    margin-bottom: 40px; }
  .cabinet__menu_item img {
    width: 50px;
    right: 180px;
    top: -25px; }
  .cabinet__menu_item .lessons-tab-number {
    right: 196px;
    top: -31px; }
  .c-courses__item {
    width: 895px;
    margin-right: 100px; }
  .backpack__course {
    width: 895px; }
  .backpack__container {
    margin-right: 100px; }
  .backpack__lesson {
    width: 418px; }
  .news__item {
    width: 895px;
    margin-right: 100px; }
  #news, #cabinet-lessons, #c-courses, #backpack {
    height: 83vh; }
  .cabinet__out {
    margin-top: 0px;
    margin-bottom: 25px; }
  .c-courses__item_opened {
    width: 895px;
    margin-right: 100px; }
  .c-courses__opened_description {
    margin-bottom: 25px; }
  .c-courses__opened_content {
    margin-left: 25px; } }

@media screen and (max-width: 1600px) {
  .container {
    width: 1300px; }
  .main__man {
    width: 1150px;
    bottom: -50px;
    right: -300px; }
  .header__contacts .header__mail {
    padding-right: 10px; }
  .header__contacts {
    margin-left: 0px; }
  .main__mark {
    right: 0px; }
  .main__block_item {
    margin-left: 240px; }
  .main__block_item-text {
    margin-left: 30px; }
  .main__btn {
    margin-left: 180px; }
  .main__block_plate {
    margin-top: 150px; }
  .texture {
    width: auto; }
  .why__right img {
    width: 750px;
    padding-top: 100px; }
  .why__left_text {
    padding-right: 0; }
  .why__items {
    margin-top: 100px; }
  .why__item_text {
    width: 200px; }
  .rope {
    left: -100px; }
  .form-1__subheader {
    padding-left: 250px;
    padding-right: 250px; }
  .academy__right {
    padding-left: 650px; }
  .academy__video {
    margin-left: 0; }
  .academy__man {
    left: 0px; }
  .academy__plate {
    left: 0; }
  .level__slider {
    margin-left: 0; }
  #level h2 {
    font-size: 70px;
    line-height: 75px; }
    #level h2 br {
      display: none; }
  .level__mark {
    margin-left: 100px;
    padding-right: 0;
    margin-top: 120px; }
  .lessons__text {
    padding-right: 100px; }
  .lessons__mark {
    margin-left: 200px;
    padding-right: 100px; }
  .club__wrapper {
    margin-left: 660px; }
  .club__item_text {
    padding-right: 50px; }
  .club__item {
    margin-bottom: 410px; }
  #lessons h2 {
    font-size: 80px;
    line-height: 80px; }
  .lessons__slider {
    width: 500px !important; }
  .lessons__slide {
    width: 500px; }
  .lessons__slide_preview img:first-child {
    width: 100%; }
  .feedback__right {
    margin-left: 0; }
  #feedback.desktop-slick .feedback__slider, #feedback.desktop-slick .slick-track {
    width: 700px !important; }
  #feedback.desktop-slick .slick-slide {
    margin-left: -210px;
    margin-right: -260px; }
  #feedback.desktop-slick .slick-slide.slick-center {
    margin-left: -50px; }
  .book__img {
    margin-right: 0; }
  .book__content {
    padding-right: 50px; }
  .header__menu_list {
    margin-left: 0; }
  .feedback__right {
    margin-left: 50px; }
  .feedback__item_text {
    padding-right: 25px; }
  #feedback .slick-next {
    margin-right: 37px; }
  #club .club__form {
    left: 100px; } }

@media screen and (max-width: 1310px) {
  .container {
    width: 760px; }
  .main__man {
    display: none; }
  .main__block_item {
    margin-left: 0;
    margin-top: 100px; }
  .main__mark {
    top: 520px;
    right: -30px; }
  .main__block_item-text {
    margin-left: 0; }
  .main__btn {
    margin-top: 20px;
    margin-left: 220px;
    margin-bottom: 150px; }
  .languages {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .header__menu {
    display: none; }
  .what-is__subheader {
    margin-top: 150px; }
  .main__block_right {
    margin-left: -25px; }
  .what-is__left {
    width: 140%; }
  .what-is__video {
    margin: 0; }
  .what-is__content {
    padding-right: 200px; }
  #what-is .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .what-is__text {
    margin-bottom: 75px; }
  .what-is__video {
    margin-bottom: 100px; }
  .why__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .why__right img {
    padding-top: 0;
    width: 100%; }
  .why__right {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0; }
  .why__item_text {
    width: 210px; }
  .why__items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .rope {
    left: -250px; }
  .form-1__subheader {
    padding-left: 0px;
    padding-right: 0px; }
  #form-1 form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #form-1 .btn {
    margin: 0;
    margin-top: 15px; }
  #form-1 input {
    margin: 6px 0px; }
  .academy__right {
    padding-left: 0px; }
  .academy__video {
    margin-bottom: 175px; }
  .academy__man {
    left: 0px;
    display: none; }
  .academy__plate {
    right: 0;
    left: auto;
    bottom: 50px; }
  .academy__subheader {
    margin-top: 75px;
    margin-bottom: 40px; }
  #level .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .level__slider {
    margin-top: 0;
    margin-bottom: 150px;
    margin-left: -28px; }
  .level__subheader {
    margin-top: 100px; }
  .level__mark {
    margin-top: 150px;
    margin-left: 200px;
    margin-bottom: 75px; }
  .club__wrapper {
    margin-left: 0; }
  .club__item {
    margin-bottom: 400px;
    margin-top: 150px; }
  #lessons .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .lessons__slider {
    width: 740px !important;
    margin-top: 50px; }
  .lessons__slide {
    width: 740px; }
  .lessons__mark {
    margin-top: 150px; }
  #feedback .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  #feedback.desktop-slick .slick-slide.slick-center {
    margin-left: -40px; }
  #feedback.desktop-slick .slick-slide {
    margin-left: -205px;
    margin-right: -250px; }
  #feedback .slick-next {
    margin-right: 20px; }
  #feedback.desktop-slick .feedback__slider, #feedback.desktop-slick .slick-track {
    margin-left: auto;
    margin-right: 0; }
  #book h2 {
    margin-top: 100px; }
  #book form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    #book form input {
      margin-right: 0;
      margin-bottom: 10px; }
    #book form button {
      margin-left: 0;
      margin-top: 10px; }
  .book__content img {
    display: none; }
  .book__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__contacts {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px; }
  .footer__links {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .feedback__right {
    margin-left: 0; }
  .feedback__item_text {
    padding-right: 100px; }
  .club__form {
    left: 50%;
    top: 50%; }
  .c-container {
    width: 760px;
    padding: 0 10px; }
  .tab_content {
    margin-left: 0px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .tab__item_form {
    padding-top: 0;
    margin-left: 50px; }
  #account {
    margin-left: auto;
    margin-right: auto;
    display: none; }
  nav {
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 40px; }
  .cabinet__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: -20px; }
  aside {
    width: 740px; }
  .tab__item_header {
    display: none; }
  .tab_content {
    margin-top: 100px; }
  .cabinet__out {
    margin-bottom: 0;
    margin-top: -17px;
    margin-left: 25px; }
  .cabinet__menu_item img {
    right: -50px;
    top: -30px; }
  .cabinet__menu_item .lessons-tab-number {
    right: -32px;
    top: -34px; }
  .tab__item_lesson {
    width: 350px;
    padding: 25px;
    margin-right: 20px;
    margin-bottom: 25px; }
    .tab__item_lesson:nth-child(even) {
      margin-right: 0; }
  .tab__item_container {
    margin: 0; }
  .tab__item_img {
    width: 300px;
    height: 310px; }
  body.cabinet .languages {
    position: absolute;
    left: 667px; }
  .header__contacts {
    font-size: 14px;
    margin-right: 200px; }
  body.cabinet .header__mail {
    padding-right: 20px; }
  #cabinet-lessons, #c-courses, #backpack, #news {
    height: 77.6vh; }
  .c-courses__item {
    width: 720px;
    padding: 25px; }
  .courses__img {
    margin-right: 30px; }
  .c-courses__item_number {
    margin-top: 0; }
  .backpack__container {
    margin-right: 0; }
  .backpack__course {
    width: 720px; }
  .backpack__course_bg {
    padding: 25px; }
  .backpack__course_preview {
    margin-right: 30px; }
  .backpack__course_lessons-btn {
    margin-top: 30px; }
  .backpack__course_slider-item {
    margin-left: 8.5px;
    margin-right: 8.5px; }
  .backpack__lesson {
    width: 345px;
    margin-right: 10px;
    padding: 40px; }
    .backpack__lesson:nth-child(odd) {
      margin-right: 28px; }
  .backpack__course_header {
    margin-bottom: 25px; }
  .backback__course_subheader {
    margin-top: 0;
    margin-bottom: 20px; }
  .tab__item_form {
    margin-left: 30px; }
  .news__item {
    width: 720px;
    padding: 25px; }
  .news__item_photos {
    margin-right: 20px; }
  .news__item_content {
    margin-bottom: 40px; }
  .tab__item_inputs {
    width: 400px; }
  #account {
    margin-top: 10px; }
  .c-courses__item_header {
    margin-top: 15px;
    margin-bottom: 20px; }
  .c-courses__item_btn {
    margin-top: 20px; }
  .video-popup iframe {
    width: 750px;
    height: 420px; }
  .c-courses__item_opened {
    width: 720px;
    padding: 25px; }
  .c-courses__opened_list {
    height: 150px; }
  .c-courses__opened_content {
    width: 350px; }
  .c-courses__opened_btn {
    width: 200px;
    height: 50px; }
  .c-courses__opened_buttons {
    margin-top: 25px; }
  .c-courses__opened_subheader {
    margin-top: 0;
    margin-bottom: 20px; }
  .c-courses__opened_description {
    margin-top: 20px; } }

@media screen and (max-width: 760px) {
  .container {
    width: 320px;
    padding: 0 10px; }
  .header__contacts {
    display: none; }
  html, body {
    font-size: 14px; }
  .number {
    display: none;
    font-size: 51px; }
  #main .number {
    display: block; }
  .header__enter {
    font-size: 10px; }
    .header__enter span {
      display: none; }
  .header__enter img {
    padding-left: 10px;
    width: 20px; }
  h1, h2 {
    font-size: 55px;
    line-height: 60px; }
  .desktop {
    display: none; }
  .mobile {
    display: block; }
  .subheader {
    font-size: 12px;
    letter-spacing: 2.4px; }
    .subheader:before {
      width: 26px;
      margin-right: 15px; }
  #main .subheader {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    #main .subheader:before {
      display: block; }
  .main__block_subheader {
    margin-top: 40px;
    margin-bottom: 30px; }
  .main__block_item-text {
    margin-top: -20px;
    margin-right: 50px; }
  .main__mark, .main_copyright {
    display: none; }
  .main__btn {
    margin-left: 0; }
  .main__block_right {
    display: none; }
  .main__block_item {
    margin-top: 60px; }
  .btn {
    width: 275px;
    height: 65px;
    font-size: 13px; }
  .main__btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 120px; }
  .main__block_item-text {
    margin-right: 0;
    margin-left: 55px; }
  .mobile-bg {
    background: url(../img/bg-1.jpg) no-repeat right top/cover; }
  #main, #what-is {
    background: none; }
  .what-is__slider {
    display: none; }
  .what-is__content {
    margin-left: 0;
    padding-right: 0; }
  h2 {
    text-align: center; }
  .subheader {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
    .subheader:before {
      display: none; }
  .what-is__subheader {
    margin-top: 40px;
    margin-bottom: 20px; }
  .what-is__text {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px; }
  .what-is__video {
    margin-bottom: 50px; }
  .texture {
    display: none; }
  .why-subheader {
    margin-top: 50px;
    margin-bottom: 40px; }
  #why h2 {
    font-size: 52px; }
    #why h2 br {
      display: none; }
  .why__left_text {
    margin: 0px;
    text-align: center; }
  .why__left_item {
    margin-top: 50px; }
  .why__right img {
    width: 486px;
    margin-left: -70px; }
  .why__right {
    margin-top: 40px; }
  .why__item {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .why__item_text {
    width: 270px;
    margin-left: auto;
    margin-right: auto; }
  .why__item_header {
    margin-top: 25px;
    margin-bottom: 15px; }
  .why__item_ls {
    display: block;
    margin: 0 auto; }
  .why__items {
    margin-top: 20px;
    margin-bottom: 60px;
    top: 0 !important; }
  #form-1 h2 {
    font-size: 55px;
    line-height: 55px;
    margin-top: 65px; }
    #form-1 h2 span {
      display: none; }
      #form-1 h2 span:last-child {
        display: block; }
  .rope {
    display: none; }
  .form-1__subheader {
    padding-left: 10px;
    padding-right: 10px; }
  #form-1 form {
    margin-top: 50px;
    margin-bottom: 50px; }
  #form-1 input {
    width: 273px;
    height: 64px;
    font-size: 14px; }
  .academy__subheader {
    margin-top: 60px;
    margin-bottom: 40px; }
  #academy h2 {
    font-size: 53px; }
  .academy__item_text {
    margin: 0;
    text-align: center; }
  .academy__item {
    margin-top: 50px;
    width: 300px; }
    .academy__item img {
      margin-left: -38px;
      padding-top: 25px; }
  #academy {
    background: url(../img/bg-1.jpg) no-repeat center top/cover; }
  .academy__video {
    margin-top: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 50px; }
  .academy__plate {
    bottom: 270px;
    left: 50%;
    margin-left: -111px; }
  .academy__video_text {
    margin-right: 0;
    text-align: center;
    margin-top: 30px; }
  .level__left {
    width: 100%; }
  .level__text {
    margin-left: 0;
    text-align: center; }
  .level__mark {
    margin-left: 0;
    text-align: center; }
    .level__mark img {
      position: static;
      display: block;
      margin: 0 auto;
      margin-bottom: 25px; }
  .level__slide {
    width: 280px;
    height: 455px;
    padding-left: 18px;
    padding-right: 20px; }
  .level__slider {
    margin-top: 60px; }
  .level__slider_header {
    font-size: 27px;
    line-height: 26.12px;
    letter-spacing: 3.27px;
    padding-top: 28px; }
    .level__slider_header:after {
      width: 84px;
      margin-top: 20px;
      margin-bottom: 25px; }
  .level__slider_li {
    font-size: 12px; }
  .level__slider_list {
    list-style: url(../img/list-style-mobile.png); }
  .level__slider_li {
    line-height: 17.42px; }
    .level__slider_li.gray {
      font-size: 9px;
      line-height: 15.08px; }
  #level .slick-slide {
    margin: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-left: 15px;
    margin-right: 15px; }
    #level .slick-slide .white-filter {
      display: none; }
  #level .slick-slide .btn {
    opacity: 1; }
  #level .slick-track {
    padding-bottom: 100px; }
  .level__slide .btn {
    width: 272px;
    height: 65px;
    left: 50%;
    margin-left: -136px;
    bottom: -85px; }
  .slick-prev, .slick-next {
    width: 42px;
    height: 42px;
    bottom: -70px;
    top: auto; }
  .slick-prev {
    margin-bottom: 22px;
    left: 50%;
    margin-left: -50px; }
  .slick-next {
    right: 50%;
    margin-right: -50px; }
  .level__mark {
    margin-top: 40px;
    margin-bottom: 60px; }
  .level__slider {
    margin-bottom: 100px;
    margin-left: -5px; }
  .level__subheader {
    margin-top: 70px;
    margin-bottom: 30px; }
  .club__wrapper {
    margin-left: 0; }
  .club__subheader {
    margin-top: 45px;
    margin-bottom: 25px; }
  .club__item_text {
    margin: 0;
    padding: 0;
    text-align: center; }
  .club__item {
    margin-top: 50px;
    margin-bottom: 750px; }
  #club {
    background: url(../img/bg-4.jpg) no-repeat center bottom/cover; }
  .club__key {
    width: 82px;
    height: 82px;
    left: 67%;
    top: 430px; }
    .club__key img {
      width: 28px; }
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1); }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); } }
  @keyframes pulse {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1); }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); } }
  #lessons h2 {
    font-size: 51px;
    line-height: 55px; }
  .lessons__subheader {
    margin-top: 40px;
    margin-bottom: 20px; }
  .lessons__text {
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center; }
  .lessons__mark {
    display: none; }
  .lessons__slide {
    width: 281px;
    text-align: center; }
  .lessons__slider {
    width: 281px !important; }
  .lessons__title_all {
    margin-top: 20px; }
  .lessons__slider .slick-prev, .lessons__slider .slick-next {
    bottom: -90px; }
  .lessons__btn {
    margin-top: 115px; }
  .lessons__slider .slick-next {
    left: 53%; }
  .lessons__slider .slick-prev {
    right: 53%;
    left: auto;
    bottom: -92px; }
  .lessons__slide_title {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    margin-bottom: 25px; }
  .lessons__right {
    margin-bottom: 60px; }
  .feedback__subheader {
    margin-top: 50px;
    margin-bottom: 35px; }
  #feedback h2 {
    font-size: 53px; }
  .feedback__item_text {
    margin-left: 0;
    padding-right: 0;
    text-align: center; }
  #feedback .slick-slide {
    margin: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-left: 15px;
    margin-right: 15px; }
    #feedback .slick-slide .white-filter {
      display: none; }
  #feedback .slick-slide .btn {
    opacity: 1; }
  #feedback .slick-track {
    padding-bottom: 100px; }
  .feedback__slider {
    width: 281px !important;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 40px; }
  .feedback__slide {
    width: 281px;
    height: 456px;
    padding-left: 25px;
    padding-right: 25px; }
  .feedback__slide_subheader {
    font-size: 9px;
    line-height: 15.13px;
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px; }
  .feedback__slide_line {
    margin-top: 23px;
    margin-bottom: 25px; }
  .feedback__slide_header {
    margin-top: 0;
    font-size: 25px;
    margin-bottom: 30px;
    letter-spacing: 3.27px; }
  .feedback__slide_text {
    font-size: 12px;
    line-height: 17.48px;
    margin-bottom: 22px; }
  .feedback__slide_link {
    font-size: 11px; }
  #feedback .slick-next, #feedback .slick-prev {
    bottom: 5px; }
  #feedback .slick-next {
    bottom: 6px;
    right: 25%;
    left: auto; }
  #feedback .slick-prev {
    left: 49%;
    right: auto; }
  #book h2 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.23px;
    margin-top: 65px; }
  .book__content {
    text-align: center;
    padding-right: 0;
    padding-left: 26px;
    padding-right: 26px; }
  .book__content img {
    display: inline;
    right: 30px;
    width: 24px;
    bottom: -10px; }
  .book__img img {
    width: 100%; }
  #book form input {
    width: 273px;
    height: 64px;
    font-size: 14px; }
  #book form input.mobile {
    display: block; }
  #book form input.desktop {
    display: none; }
  #book form {
    margin-bottom: 50px; }
  .header__menu_list {
    display: none; }
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .footer__email {
    padding-right: 0;
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__phone {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  footer .logo {
    margin-left: auto;
    margin-right: auto; }
  .footer__links {
    margin-top: 50px; }
  footer {
    padding-top: 50px;
    padding-bottom: 60px; }
  .main__block_left {
    margin-left: auto;
    margin-right: auto; }
  #club .club__form {
    width: 295px;
    height: 493px;
    padding: 0 17px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    bottom: 50px;
    left: 50%;
    margin-left: -147px;
    top: auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
    #club .club__form input {
      -webkit-background-size: cover;
              background-size: cover;
      width: 261px;
      height: 61px;
      font-size: 13px; }
  .club__form_header {
    font-size: 41px;
    line-height: 35.23px;
    margin-top: 42px;
    margin-bottom: 35px; }
  .popup .club__form {
    width: 295px;
    height: 493px;
    padding-top: 0;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    margin-left: -147px; }
    .popup .club__form input {
      -webkit-background-size: cover;
              background-size: cover;
      width: 261px;
      height: 61px;
      font-size: 13px; }
  .c-container {
    width: 320px;
    padding: 0 10px; }
  .cabinet__menu {
    width: 300px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  nav {
    margin-top: 20px; }
  .cabinet__menu_item {
    margin-bottom: 16px;
    font-size: 20px; }
  body.cabinet .languages {
    left: 259px; }
  body.cabinet .lang {
    width: 65px;
    height: 29.5px;
    font-size: 8px; }
  .cabinet__menu_item img {
    top: -20px;
    right: -45px;
    width: 40px; }
  .cabinet__menu_item .lessons-tab-number {
    font-size: 18px;
    top: -23px; }
  .cabinet__menu_item:last-child {
    margin-right: 70px; }
  .cabinet__out {
    margin-top: 20px;
    margin-left: -53px; }
  .tab__item_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .delete {
    margin-top: 15px; }
  .tab__item_form {
    margin-left: 0; }
  .tab__item_inputs {
    width: 300px; }
  #account {
    margin-top: 0; }
  body.cabinet {
    height: auto;
    overflow: visible;
    font-size: 14px;
    line-height: 20px;
    overflow-x: hidden; }
  aside {
    position: absolute; }
  .tab__item_input {
    width: 150px;
    margin-right: 0px; }
  .tab__item_input {
    margin-bottom: 30px; }
    .tab__item_input span {
      font-size: 16px; }
  .tab__item_inputs input {
    width: 150px;
    margin-right: 10px;
    display: block;
    font-size: 14px; }
  .tab__item_form .btn {
    margin-left: auto;
    margin-right: auto; }
  .tab__item_avatar {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px; }
  .tab__item_lesson {
    width: 300px;
    margin-right: 0; }
  #cabinet-lessons, #c-courses, #backpack, #news {
    height: auto;
    overflow: visible; }
  .tab__item_img {
    width: 270px;
    height: 270px; }
  .tab__item_lesson {
    padding: 15px; }
  .lesson__header {
    margin-top: 25px;
    margin-bottom: 20px; }
  .lessons__buttons_btn {
    width: 120px;
    height: 38px;
    font-size: 12px; }
  .lesson__buttons_demo {
    font-size: 12px; }
  .tab__item_form {
    margin-bottom: 50px; }
  .c-courses__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    margin-right: 0;
    padding: 15px; }
  .courses__img {
    margin-right: 0;
    min-width: 270px;
    height: 280px; }
  .c-courses__item_number {
    margin-top: 15px; }
  .c-courses__item_info .btn {
    width: 270px; }
  .c-courses__item {
    margin-bottom: 25px; }
  .backpack__course {
    width: 300px; }
  .backpack__course_bg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px; }
  .backpack__course_preview {
    min-width: 270px;
    height: 280px;
    margin-right: 0;
    margin-bottom: 15px; }
  .backback__course_subheader {
    margin-bottom: 15px; }
  .backpack__course_header {
    margin-bottom: 20px; }
  .backpack__course_lessons-btn {
    margin-bottom: 10px; }
  .backpack__container {
    width: 300px; }
  #backpack .slick-prev {
    left: 50px; }
  #backpack .slick-next {
    right: 50px;
    top: 45px; }
  .backpack__course_slider {
    padding: 0 50px; }
  .backpack__course_slider-item {
    margin-left: 20px;
    margin-right: 20px; }
  .backpack__slider-item_header {
    margin-top: 15px; }
  .backpack__lesson {
    margin-right: 0;
    width: 300px;
    padding: 15px; }
  .backpack__lesson:nth-child(odd) {
    margin-right: 0; }
  .backpack__lesson_description {
    margin-bottom: 25px; }
  .backpack__lesson_play {
    margin-bottom: 10px; }
  .news__item {
    width: 300px;
    padding: 15px;
    margin-right: 0; }
  .news__item_photos {
    margin-right: 0; }
  .news__item_main-photo {
    width: 270px;
    height: 280px;
    margin-right: 0; }
  .news__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .news__small-photo {
    width: 83px;
    height: 90px;
    margin-right: 10px;
    margin-bottom: 10px; }
    .news__small-photo:nth-child(3n) {
      margin-right: 0; }
  .news__item_photos {
    max-height: 485px; }
  .news__item_header {
    margin-bottom: 20px;
    margin-top: 0px; }
  .news__item_date {
    margin-bottom: 15px; }
  .login-popup {
    width: 310px; }
  .popup__logo {
    margin-top: 20px;
    margin-bottom: 0px; }
  .login-popup form {
    padding: 25px; }
  .login-input {
    margin-bottom: 20px; }
  .login-form__checkpoint-item {
    font-size: 12px; }
  .login-form__forgot {
    font-size: 12px; }
  .login-form__checkpoint-item input + label::before {
    width: 15px;
    height: 15px;
    margin-bottom: -4px;
    margin-right: 8px; }
  .login-form__checkpoint {
    margin-bottom: 30px; }
  .login-form__btn {
    width: 200px;
    height: 50px;
    margin-bottom: 25px; }
  .login-popup .login-input, .login-popup .pass-input, .login-popup .email-input {
    height: 40px; }
  .show-password {
    outline: none;
    margin-bottom: -10px;
    font-size: 10px; }
  .register-form .login-input, .register-form .email-input, .register-form .pass-input {
    margin-bottom: 25px; }
  .login-form__btn {
    margin-top: 50px; }
  .video-popup iframe {
    width: 310px;
    height: 180px; }
  .c-courses__opened_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .c-courses__item_opened {
    margin-right: 0;
    width: 300px;
    padding: 15px; }
  .c-courses__main_img {
    width: 270px;
    height: 280px; }
  .c-courses__small_photo {
    width: 80px;
    height: 85px; }
  .tab__item_header {
    font-size: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .c-courses__opened_content {
    width: 270px;
    margin-left: 0; }
  .c-courses__opened_list {
    height: 160px; }
  .c-courses__opened_btn {
    width: 150px;
    height: 35px; }
  .c-courses__opened_demo {
    font-size: 14px;
    margin-right: 43px; }
  .tab__item_header {
    display: none !important;
    font-size: 22px; }
    .tab__item_header.mobile-header {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important; }
      .tab__item_header.mobile-header img {
        margin-bottom: 7px; } }
