@media screen and (max-width: 1800px) {
  .languages {
    left: 0; }
  .main_copyright {
    right: -100px; } }

@media screen and (max-width: 1600px) {
  .container {
    width: 1300px; }
  .main__man {
    width: 1150px;
    bottom: -50px;
    right: -300px; }
  .header__contacts .header__mail {
    padding-right: 10px; }
  .header__contacts {
    margin-left: 0px; }
  .main__mark {
    right: 0px; }
  .main__block_item {
    margin-left: 240px; }
  .main__block_item-text {
    margin-left: 30px; }
  .main__btn {
    margin-left: 180px; }
  .main__block_plate {
    margin-top: 150px; }
  .texture {
    width: auto; }
  .why__right img {
    width: 750px;
    padding-top: 100px; }
  .why__left_text {
    padding-right: 0; }
  .why__items {
    margin-top: 100px; }
  .why__item_text {
    width: 200px; }
  .rope {
    left: -100px; }
  .form-1__subheader {
    padding-left: 250px;
    padding-right: 250px; } }

@media screen and (max-width: 1310px) {
  .container {
    width: 760px; }
  .main__man {
    display: none; }
  .main__block_item {
    margin-left: 0;
    margin-top: 100px; }
  .main__mark {
    top: 520px;
    right: -30px; }
  .main__block_item-text {
    margin-left: 0; }
  .main__btn {
    margin-top: 20px;
    margin-left: 220px;
    margin-bottom: 150px; }
  .languages {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .header__menu {
    display: none; }
  .what-is__subheader {
    margin-top: 150px; }
  .main__block_right {
    margin-left: -25px; }
  .what-is__left {
    width: 140%; }
  .what-is__video {
    margin: 0; }
  .what-is__content {
    padding-right: 200px; }
  #what-is .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .what-is__text {
    margin-bottom: 75px; }
  .what-is__video {
    margin-bottom: 100px; }
  .why__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .why__right img {
    padding-top: 0;
    width: 100%; }
  .why__right {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0; }
  .why__item_text {
    width: 210px; }
  .why__items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .rope {
    left: -250px; }
  .form-1__subheader {
    padding-left: 0px;
    padding-right: 0px; }
  #form-1 form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #form-1 .btn {
    margin: 0;
    margin-top: 15px; }
  #form-1 input {
    margin: 6px 0px; } }

@media screen and (max-width: 760px) {
  .container {
    width: 320px;
    padding: 0 10px; }
  .header__contacts {
    display: none; }
  html, body {
    font-size: 14px; }
  .number {
    display: none;
    font-size: 51px; }
  #main .number {
    display: block; }
  .header__enter {
    font-size: 10px; }
    .header__enter span {
      display: none; }
  .header__enter img {
    padding-left: 10px;
    width: 20px; }
  h1, h2 {
    font-size: 55px;
    line-height: 60px; }
  .desktop {
    display: none; }
  .mobile {
    display: block; }
  .subheader {
    font-size: 12px;
    letter-spacing: 2.4px; }
    .subheader:before {
      width: 26px;
      margin-right: 15px; }
  #main .subheader {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    #main .subheader:before {
      display: block; }
  .main__block_subheader {
    margin-top: 40px;
    margin-bottom: 30px; }
  .main__block_item-text {
    margin-top: -20px;
    margin-right: 50px; }
  .main__mark, .main_copyright {
    display: none; }
  .main__btn {
    margin-left: 0; }
  .main__block_right {
    display: none; }
  .main__block_item {
    margin-top: 60px; }
  .btn {
    width: 275px;
    height: 65px;
    font-size: 13px; }
  .main__btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 120px; }
  .main__block_item-text {
    margin-right: 0;
    margin-left: 55px; }
  .mobile-bg {
    background: url(../img/bg-1.jpg) no-repeat right top/cover; }
  #main, #what-is {
    background: none; }
  .what-is__slider {
    display: none; }
  .what-is__content {
    margin-left: 0;
    padding-right: 0; }
  h2 {
    text-align: center; }
  .subheader {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
    .subheader:before {
      display: none; }
  .what-is__subheader {
    margin-top: 40px;
    margin-bottom: 20px; }
  .what-is__text {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px; }
  .what-is__video {
    margin-bottom: 50px; }
  .texture {
    display: none; }
  .why-subheader {
    margin-top: 50px;
    margin-bottom: 40px; }
  #why h2 {
    font-size: 52px; }
    #why h2 br {
      display: none; }
  .why__left_text {
    margin: 0px;
    text-align: center; }
  .why__left_item {
    margin-top: 50px; }
  .why__right img {
    width: 486px;
    margin-left: -70px; }
  .why__right {
    margin-top: 40px; }
  .why__item {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .why__item_text {
    width: 270px;
    margin-left: auto;
    margin-right: auto; }
  .why__item_header {
    margin-top: 25px;
    margin-bottom: 15px; }
  .why__item_ls {
    display: block;
    margin: 0 auto; }
  .why__items {
    margin-top: 20px;
    margin-bottom: 60px;
    top: 0 !important; }
  #form-1 h2 {
    font-size: 55px;
    line-height: 55px;
    margin-top: 65px; }
    #form-1 h2 span {
      display: none; }
      #form-1 h2 span:last-child {
        display: block; }
  .rope {
    display: none; }
  .form-1__subheader {
    padding-left: 10px;
    padding-right: 10px; }
  #form-1 form {
    margin-top: 50px;
    margin-bottom: 50px; }
  #form-1 input {
    width: 273px;
    height: 64px;
    font-size: 14px; } }
