@media screen and (max-width: 1200px) {
	.portfolio__item_img {
	  text-align: center;
	  width: 100%;
	  padding: 0;
	  margin: 0;
	}
	.portfolio__item_text {
		margin-left: 6%;
	}

	.portfolio__item_img-last {
		display: block;
		width: 300px;
		margin: 0 auto;
	}
	.portfolio__item_text-last {
		text-align: center;
		margin: 0;
	}
	.header__button {
		width: 170px;	
		font-size: 15px;
	}
	.menu {
		padding: 0;
		margin-left: -25px;
	}
	.phone__text {
		padding: 0;
		font-size: 21.9px;
	}
	.phone {
		margin-left: 0;
		margin-top: 20px;
	}
	.main__header_text3 {
		font-size: 40px;
	}
	.flex-end {
		margin-left: 120px;
	}
	.measure {
		right: 50px;
	}
}

@media screen and (max-width: 1100px) {
	.measure {
		right: 10px;
	}
}

@media screen and (max-width: 996px) {
	.slick-dots {
	  top:750px !important;
	}

	.column {
	  display: -webkit-flex;
	  display: -moz-flex;
	  display: -ms-flex;
	  display: -o-flex;
	  display: flex;
	  flex-direction: column-reverse;
	}
	
	.bottomworker {
		margin-top: 400px;
	}

	.worker {
		left: 5%;
	}
	.kinds__item_border {
		width: 330px;
		margin: 0 auto;
	}

	#calc .kinds__item_border {
		width: 335px;
	}

	.flex-end {
		margin-left: 60px;
	}
}

@media screen and (max-width: 768px) {
	.portfolio__item_img-last {
		width: 100%;
	}
	#calc .kinds__item_border {
		width: 350px;
	}
	.flex-end {
		margin-left: 0px;
	}
	
	.why-us__item_img {
		display: block;
		margin: 10px auto;
	}
	.why-us__item {
		margin: 50px auto;
		flex-direction: column;
		text-align: center;
	}
}