html {
	font-size: 15px;
}

body {
	font-family: 'Roboto Slab', serif;
	margin: 0;
	padding: 0;
}

/*----------Header--------------*/

nav {
	background: #fff;
}

.logo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	text-decoration: none;
	padding: 10px 0;
}

.logo:hover {
	text-decoration: none;
}

.logo__text {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.067rem;
	padding-left: 20px;
	line-height: 1.1rem;
	padding-top: 17px;
	color: #000;
	text-decoration: none;
}

.logo__text:hover {
	text-decoration: none;
}

.logo__text span {
	font-size: 0.867rem;
	font-weight: 300;

}


.call {
	font-weight: 700;
	color: #2f1059;
	float: right;
	padding-top: 15px;
}

.phone-number {
	font-size: 1.400rem;
	line-height: 1rem;
}

.call__btn {
	cursor: pointer;
	float: right;
	background: none;
	border: 1px solid #2f1059;
	border-radius: 5px;
	color: #2f1059;
	font-weight: 700;
	font-size: 0.867rem;
	padding: 7px 10px;
	letter-spacing: .5px;
}

.call__btn:hover {
	transition: 0.3s ease;
	background: #2f1059;
	color: #fff;
}

/*----------First Section----------------*/

#first {
	background: url(../img/bg1.jpg) no-repeat center top;
	padding-top: 50px;
}

h1 {
	background: url(../img/cloud.png) no-repeat center center;
	text-align: center;
	color: #2f1059;
	text-transform: uppercase;
	letter-spacing: 0.86px;
	font-size: 2.867rem;
	font-weight: 700;
	padding: 30px;
	padding-top: 40px;
}

h1 span {
	font-weight: 300;
	font-size: 1.467rem;
	text-transform: none;
	line-height: 1.2rem;
}

.form {
	margin: 0 auto;
	width: 60%;
	background: #854ecc;
	border-radius: 5px;
	margin-top: 150px;
	height: 250px;
	overflow: hidden;
	box-shadow: 0px 3px 100px #000;
}

.form__header {
	padding-top: 35px;
	padding-bottom: 30px;
	color: #fff;
	text-align: center;
	font-weight: 700;
	line-height: 1.7rem;
	font-size: 1.600rem;
}
.form__header span{
	font-size: 1.133rem;
	font-weight: 300;
}

form {
	text-align: center;
	padding-bottom: 30px;
}

input {
	background: #e8ddf5;
	border-radius: 5px;
	width: 200px;
	height: 50px;
	padding-left: 20px;
}

.view__btn {
	height: 50px;
	border-radius: 5px;
	margin-left: 2px;
	background: #d22828;
	border: none;
	color: #fff;
	font-weight: 700;
	font-size: 1.133rem;
	padding: 0 20px;
}

.absolute-circle {
	border-radius: 50%;
	width: 50%;
	color: #854ecc;
	font-weight: 400;
	background: #fff;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 120px;
	margin: 0 auto;
}

.absolute-circle span {
	border: 1px solid  #854ecc;
	padding: 0 6px;
	border-radius: 5px;
	font-weight: 700;
}

/*---------------Second Section--------------*/ 

.circle {
	background: url(../img/circle.png) no-repeat center center;
	margin: 0 auto;
	text-align: center;
	color: #000;
	height: 150px;
	width: 155px;
	padding-top: 50px;
	line-height: 18px;
	margin-top: 50px;
}

.circle-mid {
	margin-top: 100px;
	padding-top: 50px;
}

.circle-end {
	margin-top: 150px;
}

.ready {
	background: url(../img/shortbg1.jpg) no-repeat center center / cover;
	color: #fff;
	text-align: center;
	margin-top: 50px;
}

.ready__header {
	font-size: 1.7rem;
	font-weight: 700;
	padding-top: 50px;
}

.finger {
	margin-bottom: -30px;
}

.term {
	font-weight: 300;
	font-size: 1.333rem;
}

/*------------Third Section------------*/

h2 {
	margin-top: 100px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	font-size: 2.467rem;
	font-weight: 700;
}

.header_text {
	text-align: center;
	font-size: 1.33rem;
	color: #000;
}

.third__item {
	margin: 0 auto;
}


.third__item_desc {
	text-align: center;
	width: 100%;
	font-weight: bold;
	color: #000;
	font-size: 1.400rem;
	line-height: 23px;
}

.third__item_desc span {
	font-weight: 400;
	font-size: 1rem;
}


.third__item_desc1 {
	margin-left: 110px;
}
.third__item_desc2 {
	margin-left: 120px;
}

/*----------Fifth Section-----------------*/

#fifth {
	background: url(../img/bg2.png) no-repeat center bottom;
	background-color: #f0fff0;
}

#fifth h2 {
	color: #000000;
	font-size: 2.467rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 44px;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 60px;
}

.infra__item h3 {
	font-size: 19px;
	font-weight: 700;
	line-height: 44px;
	letter-spacing: .38px;
	color: #000;
	padding-left: 40px;
}


.infra__list {
	list-style: none;
	margin-top: -20px;
	margin-bottom: 80px;
}

.infra__list_item {
	color: #000000;
	font-weight: 300;
	letter-spacing: 0.3px;
	border-bottom: 1px solid #dae8da;
	padding-bottom: 5px;
}

.green__block {
	background: url(../img/shortbg2.png) no-repeat center center / cover;
}

.green__block_icon {
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	color: #0e8c0e;
}

.green__block_text {
	font-weight: 300;
	margin-top: 37px;
	color: #fff;
	margin-left: 15px;
}

.green__block_text b {
	font-weight: 700;
}

.construction__item {
	margin-top: 50px;
}

.construction__item h3 {
	font-size: 22px;
	text-align: center;
	font-weight: 700;
	margin-bottom: 20px;
	color: #000;
}

.construction__img {
	position: relative;
	left: 50%;
	margin-left: -150px;
}

.construction__text {
	margin-left: 24px;
	margin-top: 20px;
	color: #000;
}

/*-----------Sixs section-------------*/

#complectation {
	background: url(../img/bg3.jpg);
	color: #fff;
}

#complectation h2 {
	color: #fff;
	padding-top: 75px;
	margin-bottom: 60px;
}

#complectation h3 {
	font-size: 19px;
	font-weight: 900;
	padding-bottom: 10px;
}

.complectation__list {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 35px;
	padding-bottom: 70px;
}

.complectation__item {
	border-bottom: 1px solid #48a747;
	font-size: 16px;
	font-weight: 300;
}

/*---------Sevens Section-------------------*/

#docs {
	background: url(../img/bg4.jpg) no-repeat center top / cover;
}

#docs h2 {
	margin: 0;
	padding-top: 80px;
	padding-bottom: 20px;
}

#docs h3 {
	color: #000000;
	font-size: 21px;
	text-align: center;
	padding-bottom: 55px;
}

.doc {
	position: relative;
	left: 50%;
	margin-left: -103px;
	padding-bottom: 75px;
}

footer {
	background: #000;
	color: #fff;
}

footer .logo__text {
	color: #fff;
}

.rooles {
	font-size: 13px;
	font-weight: 300;
	line-height: 17px;
	padding-top: 25px;
	padding-left: 25px;
}

.rooles span {
	text-decoration: underline;
}

.address {
	line-height: 14px;
	font-size: 14px;
	font-weight: 300;
	margin-left: 10px;
	margin-top: 15px;
}

.marker {
	margin-left: -12px;
	font-size: 15px;
}

.address span {
	line-height: 10px;
	padding-bottom: 5px;
}

footer .call {
	color: #fff;
}

footer .call__btn {
	color: #fff;
	border-color: #fff;
}

footer .call__btn:hover {
	background: #fff;
	color: #000;
}

footer .phone-number {
	font-size: 18px;
}