#cube-loader {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
}
#cube-loader .caption {
  margin: 0 auto;
}
#cube-loader .cube-loader {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  transform: rotateZ(45deg);
}
#cube-loader .cube-loader .cube {
  position: relative;
  transform: rotateZ(45deg);
  width: 50%;
  height: 50%;
  float: left;
  transform: scale(1.1);
}
#cube-loader .cube-loader .cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #36c7e2;
  animation: cube-loader 2.76s infinite linear both;
  transform-origin: 100% 100%;
}
#cube-loader .cube-loader .loader-2 {
  transform: scale(1.1) rotateZ(90deg);
}
#cube-loader .cube-loader .loader-3 {
  transform: scale(1.1) rotateZ(180deg);
}
#cube-loader .cube-loader .loader-4 {
  transform: scale(1.1) rotateZ(270deg);
}
#cube-loader .cube-loader .loader-2:before {
  animation-delay: 0.35s;
}
#cube-loader .cube-loader .loader-3:before {
  animation-delay: 0.69s;
}
#cube-loader .cube-loader .loader-4:before {
  animation-delay: 1.04s;
}

@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

.preloader {
	align-items: center;
	background: #007795;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0;
 	position: fixed;
 	width: 100%;
	z-index: 10000;
}

* {
	transition: .3s ease;
}

a {
	cursor: pointer;
}

header, section{
	animation-delay: .5s;
}

html, body {
	padding: 0;
	margin: 0;
	min-width: 100%;
	overflow-x: hidden;
	font-family: 'AvenirNextCyrRegular';
	color: #293335;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Gilroy - Extra Bold";
}

h1 {
	font-family: "Gilroy - Extra Bold";
	font-size: 50px;
	margin-top: 180px;
}

a {
	text-decoration: none;
}

h1 span {
	color: #fc606c;
}



.logo {
	margin-top: 15px;
}


.logo-img {
	margin-right: 15px;
}

.header__phone_item {
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-top: 46px;
}

.phone__item_tel {
	font-size: 24px;
	color: #293335;
	font-family: "Gilroy - Extra Bold";
	text-decoration: none;
}
.phone__item_tel:hover {
	text-shadow: 0px 0px 2px rgba(0,0,0,.1);
}
.phone__item_text {
	font-size: 18px;
	color: #fc606c;
	text-decoration: underline;
}
.phone__item_text:hover {
	text-decoration: none;
}

.main-header__text {
	font-size: 28px;
}

.header__main-img {
	margin-top: 40px;
	margin-left: -30px;
}


.arrow-down-container {
	text-align: center;
	width: 100%;
	display: block;
	position: relative;
	z-index: 100;
	margin-top: -50px;
}


.arrow-down {
	cursor: pointer;
	animation: bouncing 1s 0s infinite alternate both;
}

@keyframes bouncing {  
     0% {
		transform:translateY(-70%);
	}
	100% {
	  	transform:translateY(70%);
	}
	
}

@media screen and (max-width: 1200px) {
	h1 {
		font-size: 40px;
	}

	.main-header__text {
		font-size: 23px;
	} 
	.header__main-img {
		width: 115%;
	}
}

@media screen and (max-width: 996px) {
	.logo-text {
		width: 230px;
	}

	.logo-img {
		width: 75px;
	}

	.header__phone_item {
		margin-top: 27px;
	}

	.header__content {
		padding-left: 50px;
	}
	h1 {
		margin-top: 100px;
		font-size: 50px;
	}

	.main-header__text {
		font-size: 28px;
	} 
	.header__main-img {
		width: 70%;
		text-align: center;
		margin-left: 0;
		margin-bottom: 30px;
	}

	.img-center {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.logo-text {
		display: none;
	}
	h1 {
		font-size: 40px;
	}

	.main-header__text {
		font-size: 23px;
	} 
	.header__main-img {
		width: 100%;
	}
	.header__content {
		padding-left: 0px;
	}
}

@media screen and (max-width: 450px) {
	.phone__item_tel {
		font-size: 21px;
	}
	.phone__item_text {
		font-size: 16px;
	}
	.header__main-img {
		width: 100%;
		margin-top: 0px;
	}
}

@media screen and (max-width: 350px) {
	.phone__item_tel {
		font-size: 19px;
	}
	.phone__item_text {
		font-size: 14px;
	}
	h1 {
		margin-top: 50px;
		font-size: 37px;
	}
}