

h2 {
	font-size: 48px;
	color: #293335;
	text-align: center;
	margin-top: 100px;
}

h2 span {
	color: #fc606c;
}

#what-we-do {
	background: #fafafa;
	position: relative;
	z-index: -1;
}

.what-we-do-bg {
	background: #fafafa;
	width: 830px;
	height: 830px;
	border-radius: 100px;
	position: absolute;
	-moz-transform: rotate(347deg);
	-webkit-transform: rotate(347deg);
	-o-transform: rotate(347deg);
	-ms-transform: rotate(347deg);
	transform: rotate(347deg);
	z-index: -1;
}

.what-we-do-bg-1 {
	left: -200px;
	top: -100px;
}

.what-we-do-bg-2 {
	left: 720px;
	top: -300px;
	width: 600px;
}

.what-we-do-bg-3 {
	right: -600px;
	top: -550px;
}

#what-we-do h2 {
	padding: 0 200px;
}

.what-we-do__text {
	font-size: 30px;
	text-align: center;
	padding: 0 20px;
	margin-top: 20px;
	margin-bottom: 100px;
}

.what-we-do__text span {
	color: #007795;
}

.what-we-do-bg-rect {
	position: absolute;
	z-index: -1;
}

.what-we-do-bg-rect-1 {
	top: 100px;
	left: 200px;
	animation: moving 10s infinite ease-in-out;
	animation-direction: alternate-reverse;
}

@keyframes moving {
	0% {
		transform: translate3d(10px, 0px, 20px);
    }
    50% {
    	transform: translate3d(-30px, 20px, -20px);
    }
    100% {
    	transform: translate3d(0px, -10px, 40px);
    }
}

@keyframes moving2 {
	0% {
		transform: translate3d(-30px, 0px, -20px);
    }
    50% {
    	transform: translate3d(0px, 20px, 20px);
    }
    100% {
    	transform: translate3d(0px, -10px, 40px);
    }
}

.what-we-do-bg-rect-2 {
	position: absolute;
	bottom: 150px;
	right: 300px;
	animation: moving2 10s infinite ease-in-out;
	animation-direction: alternate-reverse;
}

h3 {
	font-family: 'AvenirNextCyrBold';
	color: #007795;
	font-size: 30px;
	text-align: center;
}

.works-characteristic__container {
	display: flex;
	justify-content: space-around;
	padding: 0 150px;
	text-align: center;
	margin: 70px 0;
}

.works-characteristic__item_desc {
	font-size: 24px;
}

.works-characteristic__item1 {
	animation-delay: .4s;
}
.works-characteristic__item2 {
	animation-delay: .8s;
}
.works-characteristic__item3 {
	animation-delay: 1.2s;
}

.works-characteristic__item:hover {
	transform: scale(1.05);

}

.portfolio__item {
	width: calc(100% / 3);
	height: 271px;
}

.portfolio__item_1 {
	background: url(../img/portfolio-work1-min.jpg) no-repeat center center / cover;
}
.portfolio__item_2 {
	background: url(../img/portfolio-work2-min.jpg) no-repeat center center / cover;
}
.portfolio__item_3 {
	background: url(../img/portfolio-work3-min.jpg) no-repeat center center / cover;
}
.portfolio__item_4 {
	background: url(../img/portfolio-work4-min.jpg) no-repeat center center / cover;
}
.portfolio__item_5 {
	background: url(../img/portfolio-work5-min.jpg) no-repeat center center / cover;
}
.portfolio__item_6 {
	background: url(../img/portfolio-work6-min.jpg) no-repeat center center / cover;
}
.portfolio__item_7 {
	background: url(../img/portfolio-work7-min.jpg) no-repeat center center / cover;
} 
.portfolio__item_8 {
	background: url(../img/portfolio-work8-min.jpg) no-repeat center center / cover;
}
.portfolio__item_9 {
	background: url(../img/portfolio-work9-min.jpg) no-repeat center center / cover;
}

.portfolio__container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.portfolio__item_text {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #007795;
	opacity: 0.8;
	text-align: center;
	font-size: 24px;
	color: #fff;
	align-items: center;
	padding: 0 70px;
	margin: 0;
	opacity: 0;
	justify-content: center;
}

.portfolio__item {
	animation-delay: .2s;
}

.portfolio__item_text:hover {
	opacity: .8;
	cursor: pointer;
}

.clients__item {
	text-align: center;
	margin-top: 50px;
}

.clients__item_img{
	width: 100%;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	opacity: .9;
}

.clients__item_img:hover {
	transform: scale(1.02);
	cursor: pointer;
	opacity: 1;
}

.clients__item_img2 {
	width: 172px;
	padding: 0;
}

#clients {
	padding-bottom: 120px;
}

#commerce {
	background-color: #fafafa;
	padding-bottom: 100px;
}

#commerce h2 {
	text-align: left;
	font-size: 30px;
	padding-left: 20px;
	padding-right: 100px;
	margin-bottom: 30px;
}

.commerce__content_text {
	font-size: 24px;
	padding-left: 20px;
	padding-right: 100px;
	margin-bottom: 30px;
}

.commerce__content_text span {
	color: #007795;
	font-weight: bold;
}
.commerce__content {
	padding-left: 100px;
}

.commerce__content_download {
	display: flex;
	align-items: center;
	margin-top: 60px;
}

.commerce__download_link {
	font-size: 28px;
	margin-left: 30px;
	color: #007795;
	border-bottom: 1.5px solid #007795;
	transition: 0s ease;
}

.commerce__download_link:hover {
	border: none;
	padding-bottom: 1.5px;
}

.advantages-circle {
	position: relative;
	padding-top: 1150px;
}

.adv-man {
	position: absolute;
	left: 50%;
	margin-left: -195.5px;
	bottom: 0;
}
.adv-item {
	position: absolute;
}

.adv-item-1 {
	top: 630px;
	left: 25px;
	animation-delay: .2s;
}
.adv-item-2 {
	top: 255px;
	left: 25px;
	animation-delay: 0.4s;
}
.adv-item-3 {
	top: 80px;
	left: 165px;
	animation-delay: 0.6s;
}
.adv-item-4 {
	top: 82px;
	right: 205px;
	animation-delay: .8s;
}
.adv-item-5 {
	top: 260px;
	right: 33px;
	animation-delay: .9s;
}
.adv-item-6 {
	top: 635px;
	right: 40px;
	animation-delay: .8s;
}

.advantages__mobile {
	display: none;
}

.advantages__mobile_number {
	font-size: 48px;
	font-family: "Gilroy - Extra Bold";
	text-align: center;
	margin: 0;
	padding: 10px 0;
}

.advantages__mobile_number1 {
	color: #866d76;
}
.advantages__mobile_number2 {
	color: #ff6a4d; 
}
.advantages__mobile_number3 {
	color: #36c7e2;
}
.advantages__mobile_number4 {
	color: #ffcd42;
}
.advantages__mobile_number5 {
	color: #a9cf53;
}
.advantages__mobile_number6 {
	color: #936eaf;
}


.advantages__mobile_header {
	font-size: 36px;
	margin: 0;
	padding: 10px 0;
}
.advantages__mobile_text {
	width: 300px;
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0;
}

.advantages__mobile {
	margin-top: 100px;
}

.advantages__mobile_item {
	padding: 20px 10px;
	border: 2px solid #293335;
	border-radius: 10px;
	margin: 10px;
	height: 280px;
}

#what-we-do-better h2, #what-we-do-better h3 {
	text-align: left;
}

.what-we-do-better__text {
	font-size: 25px;
}

.what-we-do-better__text span {
	color: #007795;
}

#commerce {
	position: relative;
	z-index: 1;
}

#advantages {
	position: relative;
}

.adv-bg {
	background: #fafafa;
	width: 800px;
	height: 500px;
	position: absolute;
	z-index: -1;
	border-radius: 100px;
	-moz-transform: rotate(352deg);
	-webkit-transform: rotate(352deg);
	-o-transform: rotate(352deg);
	-ms-transform: rotate(352deg);
	transform: rotate(352deg);
}

.adv-bg-rec {
	display: none;
	position: absolute;
}

.adv-bg-1 {
	top: -100px;
	left: -650px;
}

.adv-bg-2 {
	top: -270px;
	left: 300px;
}

.adv-bg-3 {
	top: -400px;
	left: 1220px;
}


.adv-bg-rec-1 {
	display: block;
	left: 250px;
	top: 20px;
	animation: moving 7s infinite ease-in-out;
	animation-direction: alternate-reverse;
}

.adv-bg-rec-2 {
	display: block;
	right: 200px;
	bottom: -50px;
	animation: moving2 7s infinite ease-in-out;
	animation-direction: alternate-reverse;
}

#what-we-do-better {
	position: relative;
}

.adv-bg-rec-3 {
	display: block;
	bottom: 70px;
	left: 300px;
	animation: moving 7s infinite ease-in-out;
	animation-direction: alternate-reverse;
}

#boss {
	background: #fafafa;
}

.boss__text {
	font-size: 30px;
}

.boss__text span {
	color: #007795;
}

#boss h2 {
	color: #fc606c; 
	text-align: left;
	font-size: 45px;
	margin-top: 70px;
}

.boss__img {
	margin-left: -250px;
	margin-top: 100px;
	margin-bottom: -2px;
}

.boss__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin: 25px 0;
	font-size: 24px;
}

.boss__item_img {
	margin-right: 50px;
}

.family__header{
	display: flex;
	margin-top: 70px;
	margin-bottom: 60px;
	align-items: center;
}

.family__alert {
	border: 8px solid #007795;
	height: 67px;
	width: 67px;
	font-size: 48px;
	color: #007795;
	text-align: center;
	border-radius: 50%;
	font-family: "Gilroy - Extra Bold";
	padding-bottom: 10px;
	margin: 0;
	padding-left: 19px;
	padding-right: 21.5px;
	margin-bottom: 60px;
	margin-right: 20px;
}

.family__header_item {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.family__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.family__list_item {
	width: calc(100%/7);
}
.family__list_item img{
	width: 100%;
	height: 100%;
}

#family h2 {
	text-align: left;
	margin-bottom: 100px;
}

#family h2 img {
	margin-left: -20px;
	margin-top: 10px;
}

#family h2 span {
	color: #fc606c;
}

#family .what-we-do-better__text {
	font-weight: bold;
}

.family__text {
	font-size: 30px;
	padding-right: 280px;
}

.family__text span {
	color: #007795;
	font-weight: bold;
}

.family__text_container {
	position: relative;
}

.light__block {
	position: relative;
}

.light {
	position: absolute;
	top: 0;
	right: -350px;
}

.light__circles {
	position: absolute;
	top: 500px;
	right: 140px;
	animation: moving2 7s infinite ease-in-out;
	animation-direction: alternate-reverse;
	width: 500px;
}

.light {
	animation-delay: 1s;
}

#family {
	padding-bottom: 100px;
}

.family-rect {
	position: absolute;
	animation: moving 7s infinite ease-in-out;
	animation-direction: alternate-reverse;
	bottom: 0;
	left: 200px;
}

.deal__item {
	border: 10px solid #ffffff;
	border-radius: 30px;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 285px;
	align-items: center;
}

.flex-row123 {
	flex-direction: row;
}

.deal__item1 {
	background-image: linear-gradient(to right, #866d76 0%, #603d4a 100%);
}

.deal__item2 {
	background-image: linear-gradient(to bottom, #936eaf 0%, #613c7c 100%);
	height: 630px;
}

.deal__item3 {
	background-image: linear-gradient(-182deg, #ff6a4d 0%, #c02d11 100%);
	height: 630px;
}
.deal__item4 {
	background-image: linear-gradient(to right, #135cea 0%, #00246b 100%);
	align-items: center;
}
.deal__item5 {
	background-image: linear-gradient(to right, #fc606c 0%, #b82d38 100%);
    padding-top: 22px;
}

.item__text_h4 {
	font-size: 30px;
	font-weight: bold;
}

.item__text_p {
	font-size: 24px;
}

.deal__item2 img {
	width: calc(100% * 1.32);
	margin-left: -100px;
	margin-top: 50px;
}

.deal__item3 .deal__item_text {
	padding-right: 100px;
	margin-left: 50px;
}

.deal__item2 .deal__item_text {
	margin-top: -50px;
	margin-left: 0px;
}

.deal__item1 img {
	margin-left: -40px;
	margin-top: 20px;
	align-items: center;
}

.deal__item3 img {
	margin-top: 55px;
	margin-left: 44px;
	width: calc(100% * 0.87)
}

.deal__item4 img {
	height: 380px;
}

.deal__item5 img {
	margin-left: -50px;
}

.deal__item5 .deal__item_text {
	margin-top: -50px;
}


#deal {
	position: relative;
}

#deal .what-we-do-bg-1 {
	top: 50px;
}

#deal .what-we-do-bg-2 {
	top: -150px;
}

#deal .what-we-do-bg-3 {
	top: -350px;
	left: 1400px;
}

.deal__container{
	background: #fafafa;
}

.money__text{
	font-size: 30px;
}

.money__text span{
	color: #007795;
	font-weight: bold;
}

#money {
	position: relative;
}

.money__bg-rect {
	position: absolute;
}

.money__bg-rect1 {
	right: 220px;
	top: 200px;
	animation: moving 10s infinite ease-in-out;
	animation-direction: alternate-reverse;
}

.money__bg-rect2 {
	left: 350px;
	bottom: -50px;
	animation: moving2 10s infinite ease-in-out;
	animation-direction: alternate-reverse;
}

#feedback h2 {
	padding: 0 100px;
}

.feedback__item {
	box-shadow: 4px 3px 40px rgba(0, 0, 0, 0.07);
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.feedback__item_up {
	padding: 45px 45px 20px 45px;
}

.feedback__item_down {
	padding: 10px 50px 30px 50px;
}

.feedback__item_up {
	border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.feedback__name {
	font-size: 24px;
}

.feedback__city {
	font-size: 18px;
	opacity: 0.4;
}

.feedback__item_header {
	font-size: 24px;
}

.feedback__item_text {
	font-size: 18px;
}

.feedback__link {
	font-size: 14px;
	text-decoration: underline;
	color: #293335;
}

.feedback__link:hover {
	text-decoration: none;
	color: #293335;
}

.feedback__more_link {
	font-size: 18px;
	text-align: center;
	margin: 50px auto;
	display: block;
}

#form h2 {
	font-size: 36px;
	margin-bottom: 270px;
}

.form__header {
	font-size: 32px;
	color: #fff;
	font-family: "Gilroy - Extra Bold";
	z-index: 2;
	position: relative;
}

.form__text {
	font-size: 22px;
	color: #fff;
}

.form__form {
	background-image: linear-gradient(-182deg, #f46e53 0%, #f42a43 100%);
	box-shadow: 120px 112px 109px rgba(0, 0, 0, 0.06);
	border: 10px solid #ffffff;
	text-align: center;
	border-radius: 30px;
	padding: 40px;
	position: relative;
	margin-bottom: 250px;
}

#form {
	position: relative;
}

#form input {
	width: 100%;
	height: 90px;
	background: #fff;
	border: 3px solid rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #b2b6b6;
	padding-left: 70px;
}

#form form {
	padding: 0 30px;
}

.inputs {
	position: relative;
}

form img {
	position: absolute;
	left: 30px;
}

.user {
	top: 47px;

}

.phone {
	top: 50%;
	margin-top: -17px;
}

.email {
	bottom: 52px;
}



.form__arrow {
	position: absolute;
	top: -170px;
	right: -120px;
	z-index: 1;
	width: 319px;
	height: 319px;
}

#form button {
	background-image: linear-gradient(to top, #272a44 0%, #383d5a 100%);
	box-shadow: 0 0 49px rgba(69, 69, 104, 0.58);
	width: 90%;
	text-align: center;
	border: none;
	border-radius: 50px;
	color: #fff;
	font-size: 25px;
	height: 100px;
	margin-top: 60px;
	margin-bottom: 10px;
	cursor: pointer;
}

.form-bg-left {
	position: absolute;
	bottom: 0;
	left: -35px;
	z-index: -1;
	width: 40%;
}

.form-bg-right {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
	width: 40%;
}

.form-bg-center {
	position: absolute;
	z-index: -1;
	bottom: -20px;
	width: 17%;
	left: 42%;
}

.form-bg-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.form-bg-main-flower {
	position: absolute;
	top: -230px;
	left: 50%;
	z-index: -1;
	margin-left: -180px;
}

.btn {
  position: relative;
  color: #fff;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.btn.bubble:after {
  content: "";
  background: #fff;
  position: absolute;
  width: 450px;
  height: 400px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  margin: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.btn.bubble:hover:after {
  transform: scale(0);
  opacity: .5;
}

.btn.bubble:hover {
	transform: scale(1.05);
}

footer {
	background-color: #578977;
	padding: 80px 0;	
}

.footer__text {
	color: #fff;
	font-size: 16px;
	text-decoration: underline;
}

.footer__text_container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
}

.footer__text:hover {
	text-decoration: none;
	color: #fff;
}

.footer__tel {
	text-align: center;
	color: #fff;
	font-family: "Gilroy - Extra Bold";
	font-size: 48px;
}

.social-media {
	text-align: center;
	margin-top: 60px;
}

.social-media img {
	padding: 0px 5px;
}

.social-media a img:hover {
	transform: scale(1.1);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(250, 250, 250, 0.8);
  display: none;
  z-index: 100;
}



.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  color: #fff;
  border-radius: 40px;
  text-align: center;
  width: 917px;
  border: 10px solid #ffffff;
  background-image: linear-gradient(-182deg, #f46e53 0%, #f42a43 100%);
  box-shadow: 120px 112px 109px rgba(0, 0, 0, 0.06);
}

.close-popup {
  position: absolute;
  top: -11px;
  right: -11px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #000;
}

.close-popup:hover {
  border: 1px solid #ff880f;
  transform: scale(1.1);
}

.close-popup:before {
  content: '';
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 14px;
  transform: rotate(-45deg);
  left: -1px;
  top: 5.5px;
}

.close-popup:after {
  content: '';
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 14px;
  transform: rotate(45deg);
  left: -1px;
  top: 5.5px;
}

.thanks-popup {
	color: #fff;
	font-family: "Gilroy - Extra Bold";
	text-align: left;
	margin-left: 80px;
	margin-right: 170px;
}

.thanks-popup h2 {
	color: #fff;
	font-size: 72px;
	text-align: left;
	margin-top: 150px;
}

.thanks-popup p {
	font-size: 36px;
	margin-bottom: 150px;
}

.popup-arrow-elem {
	top: -23px;
	right: 10px;
	position: absolute;
}

.popup-arrow {
	position: absolute;
	right: -200px;
	top: 45%;
	margin-top: -260px;
}