* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background: url(../img/background.jpg) no-repeat center top / cover;
}


#clock{
  font-family:Tahoma, sans-serif;
  font-size:20px;
  font-weight:bold;
  color:#0000cc;	
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}