@font-face {
    font-family: 'Karla';
    src: url('Karla-Regular.eot');
    src: url('Karla-Regular.eot?#iefix') format('embedded-opentype'),
        url('Karla-Regular.woff2') format('woff2'),
        url('Karla-Regular.woff') format('woff'),
        url('Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('Spectral-Bold.eot');
    src: url('Spectral-Bold.eot?#iefix') format('embedded-opentype'),
        url('Spectral-Bold.woff2') format('woff2'),
        url('Spectral-Bold.woff') format('woff'),
        url('Spectral-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('Karla-Bold.eot');
    src: url('Karla-Bold.eot?#iefix') format('embedded-opentype'),
        url('Karla-Bold.woff2') format('woff2'),
        url('Karla-Bold.woff') format('woff'),
        url('Karla-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

