

/* Start:/bitrix/templates/osmo/components/bitrix/news.list/publications-list/style.css?1486713584161*/
/*div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}       */

/* End */
/* /bitrix/templates/osmo/components/bitrix/news.list/publications-list/style.css?1486713584161 */
