@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Franklin Gothic Book';
    src: url('FranklinGothic-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro - Black';
    src: url('GothamPro-Black.ttf') format('truetype');
}
