/*-------------------Fullpage---------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  overflow-x: hidden;
  width: 100%;
  font-size: 20px;
  font-family: 'Gilroy', sans-serif;
  color: #2d2d2d;
  font-weight: 500; }

button {
  border: none;
  outline: none; }

input {
  outline: none; }

.btn {
  height: 90px;
  background-color: #ffd42c;
  -webkit-box-shadow: 0 6px 0 #0046d2, inset 0 0 5px #ececec, inset 0 0 10px rgba(255, 255, 255, 0.09);
          box-shadow: 0 6px 0 #0046d2, inset 0 0 5px #ececec, inset 0 0 10px rgba(255, 255, 255, 0.09);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0076a8), to(#199ad1));
  background-image: -webkit-linear-gradient(bottom, #0076a8 0%, #199ad1 100%);
  background-image: -o-linear-gradient(bottom, #0076a8 0%, #199ad1 100%);
  background-image: linear-gradient(to top, #0076a8 0%, #199ad1 100%);
  font-size: 20px;
  font-weight: 700;
  text-shadow: 0 2px 0 #1e3c78;
  color: #fff;
  letter-spacing: 0.97px;
  -webkit-border-radius: 45px;
          border-radius: 45px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
  .btn img {
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
  .btn:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05); }
  .btn:hover img {
    -webkit-transform: translateX(15%);
        -ms-transform: translateX(15%);
            transform: translateX(15%); }

h2 {
  font-family: 'Code Pro', sans-serif;
  font-size: 42px;
  color: #171717;
  font-weight: 400;
  text-align: center;
  font-size: 42px;
  text-transform: uppercase;
  margin-bottom: 30px; }

.subheader {
  font-size: 20px;
  text-align: center; }

/*---------------------Header---------------------*/
.logo {
  font-size: 19px;
  font-weight: 900;
  position: relative;
  width: 128px;
    width-font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  text-decoration: none;
  color: #313131; }
  .logo:after {
    content: "R";
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 4px;
    color: #313131;
    border: 1px solid #313131;
    width: 9px;
    height: 9px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: -3px;
    right: 0px;
    font-weight: 700;
    -webkit-border-radius: 50%;
            border-radius: 50%; }

.header__text__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__text {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #393939;
  font-style: italic;
  margin-left: 33px; }

.header__phone_item {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px; }

.header__phone_call {
  display: inline;
  color: #8c929a;
  font-size: 14px;
  border-bottom: 1px solid #8c929a;
  cursor: pointer;
  text-decoration: none; }
  .header__phone_call:hover {
    border: none; }

.header .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px; }

.main__items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main__item_number {
  font-weight: 100;
  letter-spacing: 0.8px;
  font-size: 58px;
  position: relative;
  display: inline; }
  .main__item_number:after {
    content: "01";
    display: block;
    font-size: 58px;
    color: #0046d2;
    font-weight: 900;
    position: absolute;
    right: -14px;
    top: -1px;
    z-index: -1; }

.main__item {
  margin-left: 20px;
  margin-right: 20px; }

.main__item_2 .main__item_number:after {
  content: "02";
  right: -9px; }

.main__item_3 .main__item_number:after {
  content: "03";
  right: -8px; }

.main__item_4 .main__item_number:after {
  content: "04";
  right: -10px; }

.main__item_text {
  font-size: 16px;
  font-style: italic;
  margin-top: 25px; }
  .main__item_text b {
    font-style: normal; }

h1 {
  font-size: 60px;
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Code Pro', sans-serif;
  font-weight: normal;
  line-height: 60px; }
  h1 span {
    font-size: 34px;
    font-family: 'Gilroy', sans-serif;
    line-height: 30px; }

.main__btn {
  width: 380px;
  margin-bottom: 50px;
  margin-top: 70px; }
  .main__btn img {
    padding-left: 10px;
    padding-top: 3px; }

.main__btn:hover img {
  -webkit-transform: translateX(15%);
      -ms-transform: translateX(15%);
          transform: translateX(15%); }

.main__wrapper {
  padding-top: 70px;
  background: url(../img/bg-1.png) no-repeat right top;
  padding-bottom: 100px; }

.advantages__item {
  width: 100%;
  display: block; }

.advantages__items_left {
  position: relative; }

.advantages__item_1 {
  height: 616px;
  background-color: #ededed;
  border: 1px solid #979797;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 40px;
  padding-top: 30px; }

.advantages__item_header {
  font-size: 36px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  font-family: 'Code Pro', sans-serif; }
  .advantages__item_header span {
    font-family: 'Gilroy', sans-serif;
    font-size: 58px;
    font-weight: 100; }

.advantages__item_text {
  margin-top: 25px;
  margin-bottom: 15px;
  position: relative;
  z-index: 1; }

.advantages__item_img {
  position: absolute;
  bottom: 2px;
  right: 2px; }

.advantages__item_2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #979797;
  background-color: #ededed;
  height: 283px; }

.advantages__item_3 {
  height: 299px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #979797;
  background-color: #ededed;
  padding: 50px 60px;
  position: relative;
  margin-top: 34px; }

.advantages__item_text-wrapper {
  margin-left: 40px; }

.advantages__item_3-img {
  position: absolute;
  right: 1px;
  bottom: 1px;
  z-index: 0; }

#advantages {
  padding-bottom: 100px; }

#slider .slider__subheader {
  padding-left: 220px;
  padding-right: 220px; }

#form, footer {
  color: #fff;
  background-color: #444444;
  padding: 65px 0; }
  #form h2, footer h2 {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 400; }
  #form form, footer form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px; }
    #form form input, footer form input {
      width: 255px;
      height: 78px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background-color: #ededed;
      padding-left: 30px;
      font-size: 16px;
      font-weight: 400; }
    #form form button, footer form button {
      width: 281px; }
      #form form button img, footer form button img {
        padding-left: 10px;
        padding-top: 3px; }

#feedback h2 {
  margin-top: 100px; }

#feedback .subheader {
  padding: 0 220px; }

#buy .subheader {
  padding: 0 320px; }

.buy__item_header {
  font-size: 18px;
  font-family: 'Code Pro', sans-serif;
  margin-left: 30px;
  padding-top: 10px; }
  .buy__item_header:before {
    content: "01";
    display: block;
    position: absolute;
    left: -60px;
    bottom: 25px;
    font-size: 173px;
    color: #000000;
    opacity: 0.1;
    letter-spacing: -3px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 50;
    z-index: -1; }
  .buy__item_header:after {
    content: "01";
    display: block;
    position: absolute;
    left: -35px;
    top: 105px;
    font-weight: 900;
    font-style: normal;
    font-family: 'Gilroy', sans-serif;
    color: #0046d2;
    font-size: 58px; }

.buy__item-4 img {
  margin-left: 40px; }

.buy__item_header-2 {
  padding-top: 30px; }
  .buy__item_header-2:before {
    content: "02"; }
  .buy__item_header-2:after {
    top: 95px;
    content: "02";
    left: -40px; }

.buy__item_header-3 {
  padding-top: 25px; }
  .buy__item_header-3:before {
    content: "03";
    left: -80px; }
  .buy__item_header-3:after {
    top: 82px;
    content: "03";
    left: -58px; }

.buy__item-3 {
  margin-left: 25px; }

.buy__item_header-4 {
  padding-right: 100px;
  padding-top: 20px;
  margin-left: 60px; }
  .buy__item_header-4:before {
    content: "04"; }
  .buy__item_header-4:after {
    top: 40px;
    content: "04";
    left: -42px; }

.buy__item_text {
  font-size: 16px;
  font-weight: 400;
  margin-right: 50px;
  margin-top: 35px; }

.buy__item {
  position: relative; }

.buy__items {
  margin-top: 50px;
  margin-bottom: 150px; }
  .buy__items .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }

footer {
  background: url(../img/bg-last.jpg) no-repeat center top/cover;
  padding-bottom: 40px;
  padding-top: 100px; }
  footer h2 {
    text-align: left; }
  footer .subheader {
    text-align: left; }

.footer__phone {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px; }

.footer__phone_item {
  margin-left: 33px;
  margin-right: 33px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-weight: 700; }

.footer__policies_block {
  text-align: center;
  margin-top: 15px; }

.footer__policies {
  text-align: center;
  border-bottom: 1px solid #8c929a;
  color: #8c929a;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto; }
  .footer__policies:hover {
    border: none; }

.auto__slider {
  margin-top: 80px; }

.slider__item_list {
  list-style: none;
  padding: 0; }
  .slider__item_list .slider__list_item {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px; }

.slider__item_header {
  font-size: 34px;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: 'Code Pro', sans-serif; }

.slider__item_date {
  font-style: italic;
  font-size: 20px;
  color: #171717; }

.slider__item_price {
  margin-top: 60px;
  font-size: 36px;
  font-weight: 700;
  color: #464646;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .slider__item_price span {
    font-size: 20px;
    font-weight: 400;
    color: #171717;
    letter-spacing: 0.87px;
    margin-right: 20px; }

.auto__inner-slider_item img {
  max-height: 430px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.auto__inner-slider_item {
  width: 100%;
  overflow: hidden;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-align: center; }

.auto__inner-slider {
  margin-left: 30px;
  position: relative; }

.auto__slider {
  margin-bottom: 70px; }

.accordeon {
  margin-top: 60px; }

.feedback__contacts_text {
  font-size: 18px;
  opacity: 0.8; }

dl {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #979797;
  background-color: #f0f0f0;
  position: relative;
  padding-left: 65px;
  padding-top: 35px;
  padding-right: 45px;
  padding-bottom: 40px;
  width: 920px;
  position: relative;
  margin: 20px 0; }
  dl:after {
    content: url(../img/feedback-huynya.png);
    display: block;
    position: absolute;
    right: -1px;
    bottom: 20px; }
  dl p {
    font-size: 16px;
    color: #1d1d1d;
    opacity: 0.8;
    line-height: 23px; }

dt {
  position: absolute;
  width: 160px;
  right: -190px;
  bottom: 27px; }
  dt:after {
    content: url(../img/fold.png);
    display: block;
    position: absolute;
    right: 22px; }

dt.active:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 5px; }

dd {
  margin-left: 0;
  padding-top: 45px;
  padding-bottom: 45px; }

.feedback__prev-info {
  display: -webkit-flex;
  display: -mFoz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.feedback__name {
  padding-top: 15px;
  margin-left: 25px;
  margin-right: 25px; }

.feedback__date, .feedback__name {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8; }
  .feedback__date span, .feedback__name span {
    font-size: 14px;
    opacity: 0.5; }

.feedback__header {
  font-size: 24px;
  font-family: 'Code Pro', sans-serif; }

.feedback__contacts_text, .feedback__files_header {
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 20px;
  font-weight: 600;
  margin-left: 5px; }

.feedback__contacts_link {
  margin-left: 5px;
  margin-right: 5px; }

.feedback__contacts {
  position: absolute;
  top: 50px;
  right: -140px;
  opacity: 0;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }

dt.active + dd > .feedback__contacts, dt.active + dd > .feedback__files {
  opacity: 1;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease; }

.feedback__files_item {
  width: 53px;
  height: 53px;
  border: 1px solid #979797;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
  margin: 5px;
  cursor: pointer; }

.feedback__files_container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 130px; }

.feedback__files {
  position: absolute;
  top: 200px;
  right: -165px;
  opacity: 0;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }

.more__section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px; }

.more__btn {
  opacity: 0.6;
  font-size: 20px;
  display: inline;
  border-bottom: 1px solid #2d2d2d;
  margin-right: 22px;
  cursor: pointer; }
  .more__btn:hover {
    border-bottom: 1px solid transparent; }

.leave__btn {
  opacity: 0.6;
  font-size: 20px;
  font-weight: 700;
  margin-left: 22px;
  cursor: pointer; }

.hidden__content {
  display: none; }

.main__arrow {
  display: block;
  text-align: center;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  -webkit-animation: jump 5s ease-in-out infinite;
          animation: jump 5s ease-in-out infinite; }

.main__wrapper {
  position: relative; }

.dop-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 75px;
  bottom: 75px;
  z-index: 10000; }
  .dop-form .btn {
    width: 76px;
    height: 76px; }
    .dop-form .btn:hover img {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
  .dop-form input {
    width: 217px;
    height: 67px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #ededed;
    font-size: 14px;
    border: none;
    padding-left: 30px;
    margin-right: 20px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0); }
    .dop-form input:focus {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
  .dop-form button {
    display: none; }
  .dop-form .close-form {
    width: 20px;
    position: absolute;
    left: -30px;
    cursor: pointer;
    height: 20px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
    .dop-form .close-form span {
      position: absolute;
      width: 20px;
      height: 1px;
      background: #000;
      top: 9px; }
      .dop-form .close-form span:first-child {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .dop-form .close-form span:last-child {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .dop-form .close-form:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  .dop-form .fake-btn {
    -webkit-animation: pulse 5s ease infinite;
            animation: pulse 5s ease infinite; }

.dop-form.active-input input {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1); }

.dop-form.active-input button {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.dop-form.active-input .fake-btn {
  display: none; }

.dop-form.active-input .close-form {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%); }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%); }
  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%); } }

@keyframes jump {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%); }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%); }
  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%); } }

.feedback__contacts_link img {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
  .feedback__contacts_link img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.main__item {
  -webkit-animation-delay: .5s;
          animation-delay: .5s; }

.main__item_2 {
  -webkit-animation-delay: .75s;
          animation-delay: .75s; }

.main__item_3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.main__item_4 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s; }

.main__arrow img {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.dop-form {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.advantages__items_left {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

.advantages__item_2 {
  -webkit-animation-delay: .25s;
          animation-delay: .25s; }

.advantages__item_3 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s; }

.subheader {
  -webkit-animation-delay: .25s;
          animation-delay: .25s; }

dl {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

dl:nth-child(2) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s; }

dl:nth-child(3) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s; }

dl:nth-child(4) {
  -webkit-animation-delay: .75s;
          animation-delay: .75s; }

dl:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

dl:nth-child(6) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s; }

dl:nth-child(7) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.buy__item-2 {
  -webkit-animation-delay: .25s;
          animation-delay: .25s; }

.buy__item-3 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s; }

.buy__item-4 {
  -webkit-animation-delay: .75s;
          animation-delay: .75s; }

.more__section {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.feedback__files_item {
  text-align: center;
  overflow: hidden; }
  .feedback__files_item img {
    height: 100%; }

.image {
  margin: 30px;
  float: left;
  cursor: pointer;
  max-height: 100px; }

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center; }

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%; }

.popup_img_block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.popup_img {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  max-width: 75%; }

.close-popup {
  width: 25px;
  height: 25px;
  top: 20px;
  right: 25px;
  position: absolute;
  z-index: 5;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
  .close-popup span {
    width: 25px;
    height: 1px;
    background: #fff;
    display: block;
    position: absolute;
    top: 12px; }
    .close-popup span:first-child {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .close-popup span:last-child {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .close-popup:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.advantages {
  position: relative;
  z-index: -1; }

.feedback__contacts {
  display: none; }

.feedback__files {
  bottom: auto;
  top: 0px; }

.auto__inner-slider .slick-prev:hover, .auto__inner-slider .slick-next:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05); }

.slick-prev, .slick-next {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }

footer .logo {
  color: #fff;
  display: block;
  margin-top: 20px; }
  footer .logo:after {
    color: #fff;
    border-color: #fff; }

.footer__menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px; }
  .footer__menu .footer__menu_item a {
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.7px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 7.5px;
    margin-right: 7.5px; }

.feedback__name {
  width: 191px; }

.overlay {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  position: fixed;
  overflow: hidden;
  z-index: 90000; }

.popup-form {
  position: absolute;
  width: 462px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px -1px 26px 3px rgba(0, 0, 1, 0.14);
          box-shadow: 1px -1px 26px 3px rgba(0, 0, 1, 0.14);
  background-color: #444444;
  padding: 70px 35px 50px 35px;
  z-index: 90002; }

.close-popup-form {
  position: absolute;
  top: 31px;
  right: -93px;
  width: 124px;
  height: 62px;
  cursor: pointer;
  -webkit-border-radius: 0px 0px 5px 5px;
          border-radius: 0px 0px 5px 5px;
  color: #fff;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  background-color: #444444;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-align: center;
  font-size: 14px;
  line-height: 60px; }

.popup__header {
  font-size: 42px;
  color: #fff;
  margin-bottom: 45px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Code Pro', sans-serif;
  letter-spacing: 0.49px; }

.popup__subheader {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff; }

.popup-form form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .popup-form form input {
    width: 359px;
    height: 78px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #ededed;
    padding-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none; }
  .popup-form form textarea {
    width: 359px;
    height: 98px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #ededed;
    padding-left: 35px;
    padding-top: 30px;
    margin-top: 10px;
    border: none; }
  .popup-form form button {
    width: 359px;
    margin-top: 32px; }
    .popup-form form button img {
      margin-left: 15px;
      padding-top: 2px; }
  .popup-form form .popup-policies {
    color: #959595;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    line-height: 26.41px; }
    .popup-form form .popup-policies a {
      color: #959595;
      font-size: 16px;
      text-align: center;
      margin-top: 25px; }

.thanks-popup {
  width: 854px;
  padding-top: 180px;
  padding-bottom: 150px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.thanks-popup__header {
  color: #ffffff;
  font-size: 42px;
  font-family: 'Code Pro', sans-serif;
  text-align: center; }

.thanks-popup__text {
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-top: 30px; }

.thanks-popup__btn {
  width: 358px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto; }

.close-popup-form-mobile {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  -webkit-box-shadow: 1px -1px 26px 3px rgba(0, 0, 1, 0.14);
          box-shadow: 1px -1px 26px 3px rgba(0, 0, 1, 0.14);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 4px solid #fff;
  background: #fff;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  display: none; }
  .close-popup-form-mobile:before {
    content: '';
    background-color: #000;
    position: absolute;
    height: 3px;
    width: 20px;
    top: 15px;
    left: 7px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-border-radius: 100px;
            border-radius: 100px; }
  .close-popup-form-mobile:after {
    content: '';
    background-color: #000;
    position: absolute;
    height: 3px;
    width: 20px;
    top: 15px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 7px;
    -webkit-border-radius: 100px;
            border-radius: 100px; }
  .close-popup-form-mobile:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
